#IDM {
	-fx-background-color: #21b297;
	-fx-text-fill: white !important;
	-fx-font-size: 15px;
}

/*#IDF {
	-fx-text-fill: white !important;
}

#IDE {
	-fx-text-fill: white !important;
}

#IDH {
	-fx-text-fill: white !important;
}*/

.menu .label {
	-fx-text-fill: white !important;
	-fx-font-weight: bold;
}

.menu:hover {
	-fx-background-color: #bc784e;
}

#IDF.menu:hover {
	-fx-background-color: #8080c0;

}
#IDE.menu:hover {
	-fx-background-color: #ff0080;

}

.context-menu {
    -fx-background-color: #c0c0c0;
}

.context-menu:hover {
    -fx-background-color: #408080;
}

/*#IDF{
    -fx-background-color: red;
    -fx-size: 50 ;
}*/


.context-menu .menu-item:hover {
    -fx-background-color: #408080;
}

#IDAD{
	-fx-background-color:#3399ff;
	-fx-text-fill: white !important;
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: red;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: green;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: yellow;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: blue;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}
